@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  --primary-color: #FFC700;
  --bg-color: #525252;
  --card-color: #6C6C6C;
}

html, body {
  margin: 0;
  padding:0;
}

body{
  font-family: 'Open Sans', sans-serif;
}